<%- include("partials/header"); %>
<h1> About  </h1>
<p>This is a platform for the students of the <a href="http://www.nitc.ac.in/index.php/?url=/">National Institute Of Technology Calicut </a>to interact. Here, students can share about Lost and Found, Buy and Sell, Interview Experiences, Academic Problems, College issues and so many other college-related stuff.
This website is developed by <a href="https://www.linkedin.com/in/devang-kumar-joshi-aa8651190/">Devang Kumar Joshi</a>, a final year B.tech student.  </p>
<%- include("partials/footer"); %>
