<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Writings</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap-social.css">
  <link rel="stylesheet" href="/css/styles.css">
 </head>
  <body>
  <nav class="navbar navbar-dark bg-primary">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">Writings</p>
      </div>

    </div>
  </nav>




  <div class="jumbotron centered">
    <div class="container">
      <i class="fa-solid fa-pen-circle"></i>
      <h1 class="display-3">NITC Blogging Website</h1>
      <p class="lead">Write and Explore More.</p>
      <hr>
      <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
      <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

    </div>
  </div>



  <div class="footer-padding"></div>
    <div class="footer">
      <p>&copy Devang Joshi 2022</p>
    </div>
  </div>
  </body>
  </html>
